<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qumiandan.ratecode.mapper.RateCodeMapper" >
  <resultMap id="BaseResultMap" type="cn.qumiandan.ratecode.entity.RateCode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="rate_rule" property="rateRule" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
      id, code, rate, rate_rule, type,create_date, update_date, create_id,
      update_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    id,code,rate,rate_rule,type,create_date, update_date, create_id,
      update_id, status
    from sb_rate_code 
    where status = 1 and 
    id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="cn.qumiandan.ratecode.entity.RateCode" >
    insert into sb_rate_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="rateRule != null" >
        rate_rule,
      </if>
      <if test="type != null" >
        type,
      </if>
       <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate},
      </if>
      <if test="rateRule != null" >
        #{rateRule,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if><if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qumiandan.ratecode.entity.RateCode" >
    update sb_rate_code
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate},
      </if>
      <if test="rateRule != null" >
        rate_rule = #{rateRule,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
       <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getRateCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  select <include refid="Base_Column_List"/>
  from sb_rate_code where status = 1 and 
     code=#{code}
  </select>
  <select id="getAllRateCode" resultMap="BaseResultMap" parameterType="java.lang.Byte">
  select 
  <include refid="Base_Column_List"/>
  from sb_rate_code   where status = 1
  </select>
</mapper>