<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qumiandan.role.mapper.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.qumiandan.role.entity.RolePermission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="permission_id" property="permissionId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, permission_id, role_id
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    id,permission_id,role_id
    from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"  parameterType="cn.qumiandan.role.entity.RolePermission" >
    insert into sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qumiandan.role.entity.RolePermission" >
    update sys_role_permission
    <set >
      <if test="permissionId != null" >
        permission_id = #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 <delete id="deleteByRoleId" parameterType="java.lang.Long" >
    delete from sys_role_permission
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
 <select id="getInfoByPerIdAndRoleId" resultType="java.lang.Integer" >
 	select count(*) from  sys_role_permission 
 	where permission_id=#{permissionId} and role_id=#{roleId}
 </select>
 
</mapper>