<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qumiandan.announcement.mapper.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="cn.qumiandan.announcement.entity.Announcement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="belong_id" property="belongId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
    <resultMap id="AnnouncementVOMap" type="cn.qumiandan.announcement.vo.AnnouncementVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="belong_id" property="belongId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, type, belong_id, title, content, img_url, sort, status, create_id, update_id, 
      create_date, update_date
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
   <select id="getAnnouncementByBoLongId" resultMap="AnnouncementVOMap">
  select id, type, belong_id, title, content, img_url, sort, status, create_id, update_id, 
      create_date, update_date
      from qmd_announcement 
      where status=1
      <if test="type !=null">
       and type=#{type}
      </if>
       <if test="belongId !=null">
       and belong_id=#{belongId} 
      </if>
      order by sort  desc ,id desc
      <if test="count!=null">
      limit #{ count}
      </if>
  </select>
  <select id="getMaxSort" resultType="java.lang.Integer">
  select max(sort) from qmd_announcement 
  </select>
</mapper>