<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qumiandan.product.mapper.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="cn.qumiandan.product.entity.ProductBrand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ProductBrandVO" type="cn.qumiandan.product.vo.ProductBrandVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, name, image_url, sort, status, create_id, create_date, update_id, 
      update_date
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
   <select id="selectAllProductBrand" resultMap="ProductBrandVO"  >
    select 
    id,name,image_url,sort,status,create_id,create_date,update_id,update_date
    from qmd_product_brand
    where  status=1
  </select>
  
   <select id="getMaxSort" resultType="java.lang.Integer">
    SELECT max(sort) from qmd_product_brand
  </select>
  
</mapper>